

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
  }
  

  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  form.form{
    align-content: center;
  justify-content: center;
  display: flex;
  border: solid 2px black;
  padding: 121px;
  width: 470px;
  height: 500px;


  }
  
  label {
    margin: 0.5rem 0;
  }
  
  input {
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  button {
    background-color: white;
    color: black;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  